AddType application/x-httpd-php .png

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

RewriteEngine On

## Force SSL 

# Normal way (in case you need to deploy to NON-heroku)
#RewriteCond %{HTTPS} !=on

# Heroku way
#RewriteCond %{HTTP:X-Forwarded-Proto} !https

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]