RewriteEngine On
RewriteBase /

AddType application/x-httpd-php .png

## Force SSL 
# Heroku way (https)
RewriteCond %{HTTP:X-Forwarded-Proto} https 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]

# http
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]