RewriteEngine On

## Force SSL 
# Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on
# Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https 

# AddType application/x-httpd-php .png
# <FilesMatch "\.png$">
#     SetHandler application/x-httpd-php
# </FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule index.png index.php [QSA,L]